.ui-accordion .ui-accordion-content {
	padding: 0px !important;
	overflow-x: hidden;
}

.padding-AntSis {
	padding: 10px !important;
	overflow-x: hidden;
}

@media only screen and (max-width: 400px) {
	.envioCorreo {
		padding: 10px !important;
	}
}