.resumen-header {
	color: #572218;
	border: 1px dashed #d1d1d1;
	padding: 10px;
}

.resumen-titulo {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #572218;
	margin-bottom: 8px;
	margin-top: 5px;
}

body .ui-datatable th.ui-state-default[role="columnheader"], body .ui-treetable th.ui-state-default[role="columnheader"]
	{
	border: 1px solid #9a9a9a;
	text-align: center;
	font-weight: bold;
	background: #9a9a9a;
	color: white;
}

.colorVerde {
	color: #27822f;
	font-weight: 600;
}

.text-title {
	color: #572218;
	font-weight: 600 !important;
	font-size: 17px !important;
}

.boton-title {
	color: #572218 !important;
	font-weight: 600 !important;
	font-size: 17px !important;
}
.boton-title:hover{
	text-decoration: underline;
	cursor: pointer;
}

.imgPago {
	width: 30%;
	height: auto;
	margin: 15px 0;
}

.buttonPago {
	border-radius: 25px !important;
	padding: 7px !important;
	width: 90% !important;
	text-transform: uppercase;
}

.buttonPago:hover {
	background: linear-gradient(#EB1F28, #461A13) !important;
	color: white !important;
	cursor: pointer;
}

.dflex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#pagoCuentaCupoConfirmado > div.ui-dialog-titlebar.ui-widget-header > a{
	display: none;
}

@media only screen and (max-width:750px) {
	.imgPago {
		width: 100px !important;
	}
	.buttonPago {
		width: 60% !important;
	}
}