.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-minimize, .ui-dialog .ui-dialog-titlebar-maximize {
    float: right;
    margin: 0;
    top: 0;
    padding: 1px;
    cursor: pointer;
    display: none;
}