/*  */
.header {
	background: rgba(235, 31, 40, 1);
	background: -moz-linear-gradient(top, rgba(235, 31, 40, 1) 0%,
		rgba(70, 26, 19, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 31, 40,
		1)), color-stop(100%, rgba(70, 26, 19, 1)));
	background: -webkit-linear-gradient(top, rgba(235, 31, 40, 1) 0%,
		rgba(70, 26, 19, 1) 100%);
	background: -o-linear-gradient(top, rgba(235, 31, 40, 1) 0%,
		rgba(70, 26, 19, 1) 100%);
	background: -ms-linear-gradient(top, rgba(235, 31, 40, 1) 0%,
		rgba(70, 26, 19, 1) 100%);
	background: linear-gradient(to bottom, rgba(235, 31, 40, 1) 0%,
		rgba(70, 26, 19, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb1f28',
		endColorstr='#461a13', GradientType=0);
	color: white;
	font-size: 18px;
	height: 35px;
}

.panel-center {
	margin: 3% auto;
	width: 70%;
	text-align: center;
}

.btn-rojo {
	background-color: #EB1F28 !important;
	background-image: linear-gradient(#EB1F28, #461A13) !important;
	border-radius: 27px !important;
	color: #FFFFFF !important;
	font-size: 12px !important;
	width: 210px;
	height: 39px;
}

.label-gris {
	background-color: #dfdfdf;
}

.subtitulo {
	display: block;
	font-size: 15px !important;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	font-weight: bold !important;
}

.Subtitulo {
	padding: 50px;
	display: block;
	font-size: 15px !important;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	font-weight: bold !important;
}

.input-number {
	width: 101%;
	height: 37px;
	border: 1px solid #EFEFEF;
	color: #572228;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 3px;
}

.separador-small {
	width: 0%;
	margin-top: 15px;
	margin-bottom: 25px;
	background-color: white;
}

.cache-grupoCacheSeleccionado {
	height: 400px;
	width: 650px;
	overflow-y: scroll;
	display: block;
}

#content-btn-center {
	padding: 2px 40%;
}

.padding-condiciones {
	padding: 2em;
}

.panelGrid {
	width: 100%;
}

.celda-roja {
	background: linear-gradient(180deg, rgba(235, 31, 40, 1) 0%,
		rgba(70, 26, 19, 1) 100%) !important;
	color: white;
	font-weight: bold;
}

.padding-general-bottom{
	padding-bottom: 2em
}

.negrilla{
	font-weight: bold;
}

.overflow-y{
overflow-y: auto;
}

.padding-bottom-row{
	padding-bottom: 5%;
}